@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  padding: 0;
  margin: 0;
}

.active {
  background: linear-gradient(90deg, rgba(59, 110, 126, 0.32) 0.17%, rgba(242, 245, 246, 0.02) 102.1%, rgba(255, 255, 255, 0.00) 108.9%);
}

.active_category {
  border-radius: 6px;
  background: linear-gradient(104deg, #16222A 0%, #355869 100%);
  color: white;
}
.active_etude{
  background: linear-gradient(97deg, #16222A 0%, #355869 100%);
  color: white;
}
.login_background {
  background: var(--gradient, linear-gradient(104deg, #16222A 0%, #355869 100%));
  color: white;
}
/* Default styles for larger screens */
.splide-professeurs {
  width: 94vw;
}

.splide-professeurs .splide__slide {
  width: calc(100% / 3.5) !important; /* Set the width for 3 slides per page */
}
/* Adjust styles for medium screens */

@media (min-width: 640px) {
  .splide-professeurs {
    width: 97vw;
  }
  .splide-professeurs .splide__slide {
    width: calc(100% / 7) !important; /* Set the width for 3 slides per page */
  }
  
}
@media (min-width: 1024px) {
  .splide-professeurs {
    width: 80vw;
  }
  .splide-professeurs .splide__slide {
    width: calc(100% / 7) !important; /* Set the width for 3 slides per page */
  }
  
}
@media (min-width: 1280px) {
  .splide-professeurs {
    width: 80vw;
  }
  .splide-professeurs .splide__slide {
    width: calc(100% / 11) !important; /* Set the width for 3 slides per page */
  }
  
}

.badge {
  border-radius: 6px;
  background: linear-gradient(109deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.12) 101.95%);
  backdrop-filter: blur(20px);
}

.splide-categories {
  width: 94vw;
}

.splide-categories .splide__slide {
  width: calc(100% / 4) !important; /* Set the width for 3 slides per page */
}
/* Adjust styles for medium screens */

@media (min-width: 640px) {
  .splide-categories {
    width: 97vw;
  }
  .splide-categories .splide__slide {
    width: calc(100% / 7) !important; /* Set the width for 3 slides per page */
  }
  
}
@media (min-width: 1024px) {
  .splide-categories {
    width: 80vw;
  }
  .splide-categories .splide__slide {
    width: calc(100% / 7) !important; /* Set the width for 3 slides per page */
  }
  
}
@media (min-width: 1280px) {
  .splide-categories {
    width: 80vw;
  }
  .splide-categories .splide__slide {
    width: calc(100% / 11) !important; /* Set the width for 3 slides per page */
  }
  
}